In [1]:
import geopandas as gpd 
from rasterstats import zonal_stats
import pandas as pd
import numpy as np
import rasterio
from rasterio import features

In [2]:
vec = gpd.read_file('../../disturbances_planted/disturbances_planted.gdb')

geom = [(geometry, value) for geometry, value in zip(vec.geometry, vec.ACTIVITY_TREATMENT_UNIT_ID)]

with rasterio.open(r'C:\dev\GIS-270\weekly_max_ndvi\data\clipped\agextent.mod.bestquality.maxndvi.2003076.2003082.tif') as ref: 
    meta = ref.meta.copy()
    height, width = ref.shape
    transform = ref.transform
    print(meta)

rasterized = features.rasterize(geom, 
                                out_shape = (height, width),
                                fill=0,
                                transform=transform,
                                all_touched=True,
                                default_value=0,
                                dtype=None)

rasterized

c:\dev\GIS-270\.venv\Lib\site-packages\pyogrio\raw.py:198: RuntimeWarning: organizePolygons() received a polygon with more than 100 parts. The processing may be really slow.  You can skip the processing by setting METHOD=SKIP, or only make it analyze counter-clock wise parts by setting METHOD=ONLY_CCW if you can assume that the outline of holes is counter-clock wise defined
  return ogr_read(

{'driver': 'GTiff', 'dtype': 'float32', 'nodata': -3.4028230607370965e+38, 'width': 5475, 'height': 4685, 'count': 1, 'crs': CRS.from_wkt('PROJCS["NAD83 / BC Albers",GEOGCS["NAD83",DATUM["North_American_Datum_1983",SPHEROID["GRS 1980",6378137,298.257222101,AUTHORITY["EPSG","7019"]],AUTHORITY["EPSG","6269"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4269"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",45],PARAMETER["longitude_of_center",-126],PARAMETER["standard_parallel_1",50],PARAMETER["standard_parallel_2",58.5],PARAMETER["false_easting",1000000],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["EPSG","3005"]]'), 'transform': Affine(291.7322303406986, 0.0, 273585.0522421824,
       0.0, -291.7322303406986, 1735803.3735694718)}

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [65]:
with rasterio.open('test_raster.tif', 'w', **meta) as dst: 
    dst.write(rasterized, 1)

In [3]:
rasterized.shape

(4685, 5475)

In [32]:
len(vec.ACTIVITY_TREATMENT_UNIT_ID.unique())

15567

In [22]:
def zonal_stats_array(data, zones, nodata_val):
    print(data, zones)

    
    # First, group all missing data into one zone for easy handling
    zones = np.where(data != nodata_val, zones, nodata_val)
    
    # Create pandas dataframe
    df = pd.DataFrame({'ACTIVITY_TREATMENT_UNIT_ID': zones, 'Value': data})
    
    # Remove no data zones 
    df = df[df.ACTIVITY_TREATMENT_UNIT_ID != nodata_val] 
    
    # Calculate stats and add results to table as a column
    df = df.groupby('ACTIVITY_TREATMENT_UNIT_ID').agg(
         {'Value': ['min', 'max', 'mean', 'median', 'std', 'count']}
         )
    
    # Drop multilevel column and rename columns if necessary
    df = df.droplevel(0, axis=1).rename(
         columns = {'min': 'MinValue',
                    'max': 'MaxValue',
                    'mean': 'MeanValue',
                    'median': 'MedianValue',
                    'std': 'StdevValue',
                    'count': 'CountValue'})
    
    # Removes ID column from index and makes a column again
    df.reset_index(inplace = True)
    
    return(df)

In [23]:
with rasterio.open('../../weekly_max_ndvi/data/clipped/agextent.mod.bestquality.maxndvi.2003076.2003082.tif') as src:
    zs = zonal_stats_array(src.read(1).ravel(), rasterized.ravel(), src.nodata)

[-3.402823e+38 -3.402823e+38 -3.402823e+38 ... -3.402823e+38 -3.402823e+38
 -3.402823e+38] [0 0 0 ... 0 0 0]

In [40]:
import datetime


tiff = 'agextent.mod.bestquality.maxndvi.2003076.2003082.tif'
tiff_split = tiff.split('.')
date = tiff_split[4]


zs['date'] = datetime.datetime.strptime(date, "%Y%j")
zs

,ACTIVITY_TREATMENT_UNIT_ID,MinValue,MaxValue,MeanValue,MedianValue,StdevValue,CountValue,date
0,0.0,0.000000,1.000000,0.499189,0.508946,0.183635,823638,2003-03-17
1,538478.0,0.391779,0.756124,0.560025,0.532173,0.183763,3,2003-03-17
2,1640150.0,0.358072,0.358072,0.358072,0.358072,NaN,1,2003-03-17
3,1640185.0,0.333333,0.333333,0.333333,0.333333,NaN,1,2003-03-17
4,1640192.0,0.653801,0.653801,0.653801,0.653801,NaN,1,2003-03-17
...,...,...,...,...,...,...,...,...
5554,4123243.0,0.246267,0.456442,0.362924,0.374494,0.089896,4,2003-03-17
5555,4123414.0,0.215226,0.338200,0.278478,0.282008,0.061563,3,2003-03-17
5556,4123456.0,0.373619,0.412568,0.399585,0.412568,0.022487,3,2003-03-17
5557,4123657.0,0.270826,0.523749,0.432062,0.449701,0.088508,9,2003-03-17
5558,4123663.0,0.123833,0.568733,0.397420,0.431316,0.160735,8,2003-03-17

In [7]:
len(np.unique(rasterized))

14333

In [11]:
treatment = gpd.read_file('../../disturbances_planted/disturbances_planted.gdb').sort_values('ACTIVITY_TREATMENT_UNIT_ID')
len(treatment.ACTIVITY_TREATMENT_UNIT_ID.unique())

15567

In [15]:
unique = np.unique(rasterized)
not_in = [x for x in treatment.ACTIVITY_TREATMENT_UNIT_ID if x not in unique]

In [16]:
print(not_in)

[1610937, 1610955, 1610959, 1610967, 1610999, 1611027, 1611032, 1640151, 1640156, 1640158, 1640162, 1640164, 1640171, 1640173, 1640174, 1640175, 1640176, 1640179, 1640180, 1640181, 1640200, 1640205, 1640206, 1640215, 1640230, 1640231, 1640240, 1640241, 1640242, 1640247, 1640248, 1695416, 1695436, 1695437, 1695440, 1695442, 1695447, 1695451, 1695464, 1695465, 1695468, 1695469, 1695492, 1695499, 1695508, 1695509, 1730693, 1747781, 1747784, 1747785, 1747810, 1747811, 1747814, 1747955, 1747956, 1747957, 1747968, 1747972, 1747981, 1748477, 1748489, 1748490, 1748497, 1748506, 1748534, 1748546, 1748572, 1748576, 1748585, 1748608, 1748609, 1748614, 1748631, 1748658, 1748659, 1748880, 1748883, 1779923, 1779924, 1821867, 1821881, 1821885, 1821892, 1821894, 1821903, 1821915, 1822022, 1822033, 1822034, 1822042, 1822077, 1822093, 1822094, 1822097, 1822104, 1822110, 1822116, 1822118, 1822121, 1822141, 1822161, 1822162, 1822167, 1822170, 1822215, 1905334, 1967202, 2051549, 2051562, 2051571, 2051602, 2051628, 2051668, 2051686, 2051690, 2051694, 2051716, 2051717, 2051861, 2051867, 2051871, 2051875, 2051891, 2051911, 2051917, 2051920, 2051927, 2051939, 2051963, 2051971, 2051977, 2051988, 2051996, 2051997, 2052017, 2052039, 2052051, 2052062, 2052063, 2052100, 2052359, 2081312, 2081462, 2081643, 2135354, 2141934, 2144748, 2144749, 2175517, 2198913, 2199149, 2199151, 2199153, 2199155, 2199353, 2206098, 2206119, 2206142, 2206153, 2206155, 2206157, 2206163, 2206165, 2206167, 2206187, 2206192, 2206195, 2206211, 2206228, 2206232, 2206242, 2206262, 2206325, 2206333, 2206338, 2206352, 2206358, 2206391, 2206422, 2206450, 2206505, 2206510, 2206556, 2206578, 2212109, 2212110, 2212125, 2212126, 2218049, 2267744, 2277849, 2322734, 2344365, 2344373, 2344379, 2344380, 2344397, 2344418, 2344447, 2344455, 2344456, 2344459, 2344460, 2344619, 2344658, 2346091, 2346093, 2346097, 2346099, 2346101, 2346103, 2346105, 2346107, 2346109, 2346111, 2346113, 2346115, 2346117, 2346119, 2346121, 2346127, 2346129, 2346131, 2346133, 2346135, 2346137, 2400938, 2427191, 2427262, 2427322, 2431579, 2464552, 2497661, 2503689, 2503693, 2503713, 2503741, 2503761, 2503762, 2503794, 2503823, 2503825, 2503831, 2503834, 2503864, 2503891, 2503899, 2504407, 2504415, 2504427, 2504621, 2505448, 2505454, 2505456, 2505458, 2505460, 2505462, 2505464, 2506949, 2510203, 2511410, 2513044, 2514133, 2515073, 2515789, 2516049, 2520509, 2520515, 2520523, 2587213, 2610465, 2610466, 2610469, 2610471, 2610474, 2611069, 2611073, 2611080, 2611094, 2611096, 2637369, 2638388, 2641900, 2641902, 2663548, 2672746, 2672753, 2672927, 2672939, 2673020, 2673032, 2673044, 2673050, 2673052, 2673066, 2673097, 2673117, 2673131, 2673170, 2673172, 2673195, 2673197, 2673207, 2673254, 2673261, 2673470, 2673688, 2673706, 2673707, 2673710, 2673718, 2673734, 2673736, 2673740, 2673750, 2675270, 2684591, 2686238, 2706535, 2737255, 2738543, 2757208, 2774432, 2774434, 2774442, 2774444, 2774699, 2774705, 2774715, 2774719, 2774721, 2774723, 2774725, 2774727, 2803789, 2807574, 2880366, 2894808, 2903882, 2910102, 2915971, 2916957, 2917502, 2917507, 2919147, 2919159, 2921829, 2926454, 2926666, 2936234, 2936238, 2936250, 2948558, 2948562, 2948574, 2948584, 2948656, 2948708, 2948738, 2948807, 2948821, 2948875, 2948877, 2948879, 2948891, 2953076, 2965332, 2969117, 2969121, 2969125, 2970250, 2970576, 2979375, 2980652, 2982354, 2983134, 2983270, 2991080, 2994968, 2997250, 3074935, 3079478, 3079487, 3079490, 3079532, 3079559, 3079626, 3079634, 3079657, 3094350, 3094388, 3097240, 3114556, 3114575, 3114664, 3114745, 3114802, 3117249, 3117253, 3122423, 3124134, 3127743, 3128223, 3150700, 3207171, 3230442, 3243375, 3246622, 3254201, 3254309, 3256997, 3257296, 3258572, 3258818, 3258826, 3258840, 3258887, 3265365, 3266399, 3268371, 3273810, 3275569, 3275574, 3275575, 3276543, 3276882, 3278296, 3299016, 3311150, 3311151, 3311526, 3311792, 3311944, 3312001, 3312482, 3312593, 3312645, 3321837, 3323402, 3327599, 3335874, 3336225, 3339804, 3339806, 3339810, 3339812, 3339814, 3339816, 3339831, 3339838, 3339864, 3340090, 3344904, 3347744, 3359028, 3366165, 3377508, 3377685, 3381434, 3383777, 3383850, 3388789, 3391154, 3391167, 3391183, 3391494, 3391515, 3392519, 3396056, 3397229, 3407054, 3412242, 3412311, 3414261, 3415595, 3416684, 3431125, 3437239, 3444671, 3450208, 3450371, 3450375, 3450802, 3451043, 3451094, 3451215, 3451219, 3451598, 3451608, 3451612, 3451722, 3451880, 3452714, 3453733, 3454236, 3454496, 3454690, 3454970, 3456033, 3456529, 3456551, 3457101, 3459078, 3465383, 3465678, 3468747, 3478107, 3493948, 3496713, 3497295, 3497669, 3498257, 3518600, 3524339, 3524667, 3524955, 3533291, 3539731, 3540647, 3540649, 3540655, 3540663, 3540665, 3542321, 3542328, 3542515, 3543075, 3548479, 3554120, 3560334, 3560340, 3560341, 3560459, 3570843, 3586212, 3587139, 3588957, 3591634, 3595297, 3596916, 3596966, 3601450, 3613934, 3614276, 3615570, 3615574, 3617253, 3617261, 3617263, 3617265, 3617269, 3617275, 3617279, 3618738, 3631705, 3634866, 3639531, 3644561, 3645026, 3645445, 3647584, 3647961, 3651363, 3652260, 3657740, 3662463, 3662467, 3665318, 3666991, 3666994, 3667000, 3667008, 3667011, 3667820, 3669937, 3673719, 3684066, 3684601, 3684879, 3685128, 3685165, 3685925, 3685977, 3692257, 3692353, 3692372, 3692788, 3694139, 3694241, 3694501, 3694565, 3695238, 3695451, 3695495, 3695969, 3698259, 3698303, 3698393, 3699201, 3699636, 3699682, 3699766, 3699767, 3699774, 3699783, 3699841, 3699859, 3699871, 3699962, 3701029, 3701051, 3702170, 3703854, 3704412, 3705927, 3707763, 3710262, 3710384, 3710401, 3710538, 3712361, 3720531, 3720795, 3726517, 3726628, 3727251, 3727459, 3729075, 3729081, 3729208, 3729973, 3729988, 3730021, 3733152, 3733165, 3733231, 3734443, 3734709, 3736303, 3736305, 3736311, 3736316, 3736317, 3736322, 3739094, 3739441, 3739475, 3739642, 3739709, 3739902, 3739997, 3740030, 3740040, 3740043, 3740044, 3740058, 3740062, 3740063, 3740074, 3740075, 3740080, 3740104, 3740148, 3740176, 3740188, 3740189, 3740586, 3740596, 3741347, 3741350, 3741833, 3742229, 3742234, 3742658, 3742697, 3743959, 3744327, 3744329, 3744412, 3744503, 3744752, 3744753, 3744868, 3744874, 3744976, 3745122, 3745128, 3745160, 3745182, 3745224, 3745225, 3745355, 3745368, 3745539, 3745540, 3745554, 3745555, 3745565, 3745606, 3745610, 3745619, 3745656, 3745688, 3745695, 3745703, 3745722, 3745733, 3745738, 3745743, 3745780, 3745908, 3745942, 3745946, 3745970, 3746240, 3746858, 3746906, 3746988, 3747656, 3747659, 3747666, 3747684, 3750661, 3753788, 3755727, 3755897, 3755969, 3755982, 3756037, 3756039, 3756047, 3756196, 3756213, 3756296, 3759166, 3759846, 3760799, 3760848, 3762188, 3762253, 3763569, 3765950, 3768610, 3769519, 3769520, 3769768, 3774137, 3774284, 3774290, 3774538, 3775344, 3775367, 3775697, 3775742, 3775743, 3778681, 3778867, 3778880, 3780020, 3787981, 3789218, 3790691, 3791867, 3793950, 3796559, 3796670, 3798125, 3798297, 3801822, 3806871, 3806990, 3807063, 3814942, 3814947, 3816759, 3816948, 3816975, 3816981, 3816987, 3816993, 3816997, 3817000, 3817002, 3817008, 3817014, 3817015, 3817044, 3817062, 3817070, 3817090, 3817101, 3817102, 3817107, 3817108, 3817111, 3817121, 3817139, 3817141, 3817149, 3817230, 3817231, 3817237, 3817241, 3818622, 3818628, 3819019, 3819165, 3820185, 3820189, 3821484, 3821488, 3821512, 3821516, 3822709, 3823816, 3824203, 3825159, 3826642, 3827363, 3827365, 3827366, 3827385, 3827400, 3827431, 3827432, 3827433, 3827437, 3827451, 3827755, 3827765, 3827847, 3827855, 3827857, 3827864, 3827879, 3827880, 3827919, 3828004, 3828005, 3828597, 3828598, 3828601, 3828654, 3828655, 3828682, 3828700, 3828710, 3828726, 3828921, 3829023, 3829037, 3829089, 3829090, 3829091, 3829130, 3829206, 3829210, 3829379, 3829797, 3830973, 3831067, 3831302, 3831354, 3831358, 3831362, 3831385, 3831395, 3831783, 3831839, 3832110, 3832118, 3832125, 3832661, 3832667, 3832687, 3832688, 3833169, 3833175, 3833181, 3833191, 3833195, 3833201, 3833216, 3833315, 3833323, 3833364, 3833437, 3833439, 3833481, 3833483, 3833486, 3833550, 3833621, 3833750, 3833751, 3833754, 3833762, 3833764, 3833765, 3833777, 3833778, 3833795, 3833797, 3835665, 3835696, 3836065, 3836092, 3836094, 3836096, 3836098, 3836739, 3836791, 3836803, 3836816, 3836825, 3837030, 3837032, 3837040, 3837044, 3837048, 3837052, 3837054, 3837055, 3837058, 3837062, 3837064, 3837070, 3837072, 3837073, 3837080, 3837082, 3837088, 3837090, 3837092, 3837094, 3837096, 3837100, 3837102, 3837104, 3837106, 3837110, 3837112, 3837114, 3837118, 3837126, 3837127, 3837130, 3837134, 3837211, 3837215, 3837216, 3837230, 3837234, 3837249, 3837381, 3838013, 3838031, 3838037, 3838303, 3838473, 3838515, 3838631, 3838633, 3838746, 3838901, 3839993, 3839999, 3840004, 3840021, 3840034, 3840088, 3840098, 3840179, 3840268, 3840301, 3840496, 3840532, 3840577, 3840714, 3840758, 3840815, 3840865, 3840878, 3841067, 3841071, 3841434, 3841438, 3841464, 3841471, 3841479, 3841648, 3841664, 3841678, 3841682, 3841686, 3841709, 3841713, 3841719, 3841725, 3841729, 3841757, 3841884, 3841901, 3841913, 3842884, 3845309, 3845558, 3846912, 3846920, 3846972, 3847183, 3847778, 3847844, 3847860, 3847889, 3848027, 3848835, 3848930, 3849130, 3849138, 3849248, 3849553, 3849576, 3849737, 3850126, 3850625, 3850740, 3852472, 3852485, 3853367, 3856091, 3856474, 3857995, 3858021, 3858614, 3858627, 3858637, 3858977, 3859519, 3863741, 3866023, 3866186, 3868317, 3868357, 3868742, 3869622, 3871134, 3871193, 3871234, 3872206, 3876563, 3876769, 3876876, 3877521, 3878342, 3878897, 3880864, 3891290, 3893849, 3894769, 3901427, 3904550, 3904831, 3910199, 3914158, 3914313, 3914933, 3915911, 3915953, 3915965, 3916012, 3916041, 3916101, 3916113, 3917120, 3918264, 3919640, 3919851, 3919899, 3920058, 3920089, 3920180, 3920480, 3920796, 3920802, 3920818, 3920827, 3920871, 3921003, 3921015, 3921017, 3921060, 3921423, 3921493, 3921511, 3921741, 3921754, 3922394, 3922749, 3924192, 3924268, 3924281, 3924289, 3924469, 3924496, 3924742, 3924763, 3925574, 3927027, 3927243, 3931704, 3932643, 3932800, 3933281, 3936954, 3939477, 3940417, 3948777, 3952901, 3952940, 3955305, 3957929, 3962070, 3962088, 3962670, 3962674, 3962744, 3962756, 3962786, 3962863, 3962885, 3962887, 3963700, 3964465, 3966869, 3977500, 3978941, 3980308, 3982545, 3986007, 3993459, 3993465, 3993493, 3994494, 4000875, 4001095, 4002419, 4002547, 4005464, 4007406, 4008099, 4008851, 4008852, 4010260, 4010458, 4010561, 4010753, 4010826, 4010827, 4011258, 4011405, 4013195, 4015010, 4015528, 4016068, 4016552, 4016553, 4016948, 4018312, 4018325, 4018364, 4018391, 4020059, 4022459, 4027193, 4027577, 4029715, 4031074, 4032010, 4032551, 4032600, 4032606, 4036030, 4039930, 4040312, 4041931, 4043328, 4043330, 4052739, 4053121, 4054311, 4056522, 4060925, 4066762, 4072429, 4072485, 4072491, 4072503, 4072538, 4072763, 4078529, 4078554, 4078786, 4082665, 4082666, 4089652, 4091292, 4092670, 4092820, 4098920, 4101550, 4102259, 4102279, 4104077, 4104510, 4104532, 4104563, 4106690, 4106763, 4107788, 4109126, 4110685, 4110686, 4111096, 4111113, 4111587, 4113202, 4114131, 4114143, 4114747, 4115301, 4117069, 4121050, 4121683, 4122879]

In [17]:
len(not_in)

1235

In [26]:
zones_df = pd.DataFrame({'ACTIVITY_TREATMENT_UNIT_ID': np.unique(rasterized.ravel())})

In [24]:
zs

,ACTIVITY_TREATMENT_UNIT_ID,MinValue,MaxValue,MeanValue,MedianValue,StdevValue,CountValue
0,0.0,0.000000,1.000000,0.499189,0.508946,0.183635,823638
1,538478.0,0.391779,0.756124,0.560025,0.532173,0.183763,3
2,1640150.0,0.358072,0.358072,0.358072,0.358072,NaN,1
3,1640185.0,0.333333,0.333333,0.333333,0.333333,NaN,1
4,1640192.0,0.653801,0.653801,0.653801,0.653801,NaN,1
...,...,...,...,...,...,...,...
5554,4123243.0,0.246267,0.456442,0.362924,0.374494,0.089896,4
5555,4123414.0,0.215226,0.338200,0.278478,0.282008,0.061563,3
5556,4123456.0,0.373619,0.412568,0.399585,0.412568,0.022487,3
5557,4123657.0,0.270826,0.523749,0.432062,0.449701,0.088508,9
5558,4123663.0,0.123833,0.568733,0.397420,0.431316,0.160735,8

In [30]:
joined = zones_df.set_index('ACTIVITY_TREATMENT_UNIT_ID').join(zs.set_index('ACTIVITY_TREATMENT_UNIT_ID'), on='ACTIVITY_TREATMENT_UNIT_ID')

In [42]:
joined.reset_index().count()

ACTIVITY_TREATMENT_UNIT_ID    14333
MinValue                       5559
MaxValue                       5559
MeanValue                      5559
MedianValue                    5559
StdevValue                     4592
CountValue                     5559
dtype: int64